
.mobile-nav-button {
    position: fixed;
    margin: 3.6em 1em 0;
    right: 2.5%;
    top: -2.5%;
    z-index: 999;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: rgba(20, 10, 50, 0.28);
}

.mobile-nav-button .mobile-nav-button__line {
	width: 30px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: 1s ease;
    margin: .3em auto;
}

.mobile-nav-button .mobile-nav-button__line:nth-of-type(2) { margin: 0.7em auto; }

.mobile-nav-button .mobile-nav-button__line--1 {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--2 { 
	display: none;	
}

.mobile-nav-button .mobile-nav-button__line--3 {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	top: 13px;
	position: absolute;
}

.mobile-nav-button .mobile-nav-button__line--1,.mobile-nav-button .mobile-nav-button__line--3 {
	left:10%;
}

.mobile-menu {
    display: block;
    width: 20%;
    right: -20%;
    height: 100%;
     background: rgba(6, 17, 27, 0.54);
    position: fixed;
    z-index: 9998;
    transition: 0.6s ease;
    top: 0;
    opacity: 0;
}

.mobile-menu ul {
    position: relative;
    /* top: 20%; */
    padding: 0;
    padding-top: 7.5em;
}

.mobile-menu ul li {
    list-style: none;
    margin-bottom: 1.5em;
    display: block;
}
.mobile-menu ul li a {
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    padding: 1em 0 1em 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.open > ul.dropdown-menu.agile_short_dropdown{
    display: block;
    transform: none !important;
    min-width: 65%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    left: 18%;
}
.open > ul.dropdown-menu.agile_short_dropdown li{
	margin:0 !important;
}
ul.dropdown-menu.agile_short_dropdown > li > a:hover{
    background: none;
}
.mobile-menu ul li a:after {
	content: '';
	background: #ecb731;
	width: 100%;
	height: 100%;
	position: absolute;
	right: -100%;
	top: 0;
	z-index: -1;
	transition: 0.4s ease;
}

.mobile-menu ul li a:hover,.mobile-menu ul li.active a { 
	color: #fff; 
}

.mobile-menu ul li a:hover:after,.mobile-menu ul li.active a:after { 
	right: 0; 
}
li.dropdown.act a.w3_icons_act {
    background: #0e0e0e;
	color: #fff;
}
.mobile-menu img {
	position: absolute;
	width: 150px;
	display: block;
	left: 50%;
	top: 3rem;
	transform: translatex(-50%);
	-webkit-transform: translatex(-50%);
	-moz-transform: translatex(-50%);
	-o-transform: translatex(-50%);
	-ms-transform: translatex(-50%);
	padding: 0;
	text-align: center;
}

.mobile-menu--open {
	opacity: 1;
	right:0%!important;
}
.dropdown.active.open a  ul.dropdown-menu.agile_short_dropdown li a.w3_icon_1:after{
	background:none !important;
}
.mobile-menu {
    overflow-y: auto;
	    z-index: 9!important;
}

/*-- responsive --*/
@media(max-width:1440px){
		.mobile-menu ul li a {
		font-size: .9em;
		padding: 0.8em 0 0.8em 1.5em;
		letter-spacing: 2px;
	}
	.mobile-menu ul {
		padding-top: 7em;
	}
	.mobile-menu {
		width: 24%;
		right:-24%;
	}
}

@media(max-width:1366px){
	.mobile-nav-button {
		margin: 3.7em 0em 0;
		right: 3%;
	}
}
@media(max-width:1080px){
	.mobile-menu ul {
		padding-top: 5.2em;
	}
}
@media(max-width:1020px){
	.mobile-menu {
		width: 30%;
		right: -30%;
	}
}
@media(max-width:800px){
	.mobile-nav-button {
		margin: 3em 0em 0;
		right: 4%;
	}
	.mobile-menu ul {
		padding-top: 6em;
	}
	.mobile-menu {
		width: 35%;
		right: -35%;
	}
	
}
@media(max-width:580px){
	.mobile-nav-button {
		margin: 2.6em 1em 0;
	}
}
